# 2nd class

In [1]:
45/9 #default is float

5.0

In [2]:
45//9 #integer division --discard decimal part

5

In [3]:
2**6

64

In [5]:
2*(1+1)**3+7

23

In [10]:
2+3//2+1

4

# Math expression:Unifamiliar Operators

In [11]:
4%3

1

In [20]:
x=124
x=x+3

In [18]:
x

127

In [22]:
x/=2
x

31.75

In [7]:
x = 2

# if statement

In [31]:
#checking condition
a=2
b=3
a!=b

True

In [32]:
a!=b

True

In [38]:
a=int(input ("enter a number"))
b=int(input ("enter another number"))
if a>b:
    #this is called indentation.#same indent function body.
    print("{a} is greater than {b}")
    print("{a} is greater than {b}")
    print("{a} is greater than {b}")
else:
    print("{b} is greater than {a}")
    print("Else block is executing")

enter a number5
enter another number4
{a} is greater than {b}
{a} is greater than {b}
{a} is greater than {b}

# Multiple ifs

In [45]:
age=int(input("enter age"))
if age >= 18:
    
    print("your age is valid")
    ticket=input("enter ticket status").lower()
    if ticket =='yes':
        print("your ticket is valid")
        print("your are allowed")
    else:
            print("please buy ticket")
else:
    print("you are not allowed")

enter age24
your age is valid
enter ticket statusyes
your ticket is valid
your are allowed

In [56]:
cnic=(input("you have cnic "))
if cnic== 'yes' :
    print("OK")
    vlist=input("is your name in the list ")
    if vlist =='yes':
        print("you are allowed")
    else:
            print("you are not allowed")
else:              
    print("bring the cnic")

you have cnic yes
OK
is your name in the list yes
you are allowed

In [58]:
cnic=(input("you have cnic "))
vlist=input("is your name in the list ")
if cnic== 'yes' or vlist =='yes':
    print("you are allowed")
else:
    print("you are not allowed")

you have cnic yes
is your name in the list no
you are allowed

In [67]:
a=int(input('enter first number:'))
b=int(input('enter second number:'))
if a== b:
#elif a != b:
print('All Is Well')
else:
    print('Wapis check kare')

enter first number:4
enter second number:3
Wapis check kare

In [70]:
license=(input('you have license:'))
cash=(input('you have cash:'))
if license=='yes' or cash=='yes':
    print('chal nekal')
else:
    print('chal thane me')

you have license:yes
you have cash:no
chal nekal

In [69]:
license=(input('you have license:'))
cash=(input('you have cash:'))
if license=='yes' and cash=='yes':
    print('chal nekal')
else:
    print('chal thane me')

you have license:yes
you have cash:no
chal thane me

In [77]:
license=input('you have license:')#dkjis 
cash=input('you have cash:')
if license=='yes':
    print()
elif cash=='yes':
    print('chal nekal')
else:

    print('chal thane me')
#  today  is ai class
#  today  is ai class
#  today  is ai class
#  today  is ai class

you have license:no
you have cash:no
chal thane me

In [2]:
name=input('what is your name? ')
print('hi,how are you '+name)

what is your name? Arsalan
hi,how are you Arsalan

In [10]:
course= 'python for biggeners'
print(course[4:])

on for biggeners

# class 3

# List

In [1]:
x=3

In [2]:
y=[3,4,5,6]#List
y

[3, 4, 5, 6]

In [3]:
name = ['john','man','hamza']
name

['john', 'man', 'hamza']

In [17]:
furits =['apple','mangoes','orange','watermelon']
#index    0,      1      ,  2       , 3 
del furits[3] #inplace
furits

['apple', 'mangoes', 'orange']

In [14]:
len (furits)

3

In [20]:
furits.remove('apple')#by remove function
furits

['mangoes', 'orange']

In [21]:
furits

['mangoes', 'orange']

In [22]:
furits[1]='apple'
furits

['mangoes', 'apple']

In [37]:
furits.append('cheery')
furits

['grape',
 'grape',
 'mangoes',
 'apple',
 'apple',
 'cheery',
 'cheery',
 'cheery',
 'cheery',
 'cheery']

In [32]:
furits.insert(0,'grape')
furits

['grape', 'grape', 'mangoes', 'apple', 'apple', 'cheery', 'cheery']

In [34]:
furits.index('mangoes')

2

In [39]:
furits.count('cheery')

5

In [41]:
a=[2,3,4,56,7,1]
a.sort(reverse=True)#decandig order
a

[56, 7, 4, 3, 2, 1]

In [42]:
a=[2,3,4,56,7,1]
a.sort()
a

[1, 2, 3, 4, 7, 56]

In [79]:
a=[2,3,4,56,7,1]
a.reverse()#reverse list without sorting
a

[1, 7, 56, 4, 3, 2]

In [48]:
b=a# pass by reference
b

[1, 7, 56, 4, 3, 2]

In [49]:
a.append(123)
print(a)
print(b)

[1, 7, 56, 4, 3, 2, 123]
[1, 7, 56, 4, 3, 2, 123]

In [51]:
b.append('new book')
a

[1, 7, 56, 4, 3, 2, 123, 'new book', 'new book']

In [52]:
c=a.copy()
c

[1, 7, 56, 4, 3, 2, 123, 'new book', 'new book']

In [54]:
c.append('Arsalan')
a

[1, 7, 56, 4, 3, 2, 123, 'new book', 'new book']

In [56]:
###POP last element remove and save in poppedElement

In [77]:
poppedElement=a.pop()

IndexError: pop from empty list

In [78]:
poppedElement

1

[]

In [81]:
newList=[]

In [103]:

newList.append(a.pop())

IndexError: pop from empty list

In [96]:
newList

[2, 3, 4, 56, 7, 1]

IndexError: pop from empty list

In [106]:
newList[]

SyntaxError: invalid syntax (<ipython-input-106-f31660881b14>, line 1)

In [109]:
###task to do list using if else and popped the program

[]

[]

In [118]:
aList=[12,32,123,43,54,13,10]
#index=[0,1,2,3,4,5,6,7,8,9]

In [122]:
aList[2:5]

[123, 43, 54]

In [123]:
aList[  2:]

[123, 43, 54, 13, 10]

In [129]:
aList[:3]

[12, 32, 123]

In [130]:
students=['asad','fahad','kami','saad','faisal','Arsalan']
# index    -6     -5      -4     -3     -2       -1

In [131]:
students[-2]

'faisal'

In [133]:
students[-4:]

['kami', 'saad', 'faisal', 'Arsalan']

In [134]:
students[:4]

['asad', 'fahad', 'kami', 'saad']

In [137]:
students[-5:4]

['fahad', 'kami', 'saad']

# Tuples

In [141]:
a=(1,2,3,4,5,6,7,'peep')

In [142]:
a

(1, 2, 3, 4, 5, 6, 7, 'peep')

In [146]:
a[7]

'peep'

In [147]:
a=2,3,4 #packing

In [148]:
a

(2, 3, 4)

In [149]:
x,y,z=a#unpacking

In [150]:
x

2

In [151]:
y

3

In [152]:
z

4

In [153]:
ListInList =[1,2,3,['apple','orange','grapes']]

In [154]:
ListInList

[1, 2, 3, ['apple', 'orange', 'grapes']]

In [155]:
ListInList[3]

['apple', 'orange', 'grapes']

In [156]:
ListInList[3][0]

'apple'

In [157]:
ListInList[3][0]='eggs'

In [161]:
ListInList

[1, 2, 3, ['apple', 'orange', 'grapes', [22, 33, 44]]]

In [159]:
ListInList

[1, 2, 3, ['eggs', 'orange', 'grapes']]

In [160]:
ListInList =[1,2,3,['apple','orange','grapes',[22,33,44]]]

In [162]:
ListInList

[1, 2, 3, ['apple', 'orange', 'grapes', [22, 33, 44]]]

In [163]:
ListInList =[1,2,3,['eggs','orange','grapes']]

In [164]:
ListInList[3][0]='apple'

In [165]:
ListInList

[1, 2, 3, ['apple', 'orange', 'grapes']]

In [166]:
ListInList.insert(0,"apple")

In [167]:
ListInList

['apple', 1, 2, 3, ['apple', 'orange', 'grapes']]

In [172]:
ListInList =[1,2,3,['eggs','orange','grapes']]
ListInList[3].insert(0,'apple')

In [173]:
ListInList

[1, 2, 3, ['apple', 'eggs', 'orange', 'grapes']]

In [174]:
ListInList[3].remove('eggs')

In [175]:
ListInList

[1, 2, 3, ['apple', 'orange', 'grapes']]