# For Loop

In [2]:
Students=['Arsalan','usama','hassan','shazad']

In [4]:
print(Students)

['Arsalan', 'usama', 'hassan', 'shazad']

In [12]:
for i in range(len(Students)):
    print(Students[i])

Arsalan
usama
hassan
shazad

In [24]:
for b   in Students:
    print(b)

Arsalan
usama
hassan
shazad

In [22]:
Students=['Arsalan','usama','hassan','shazad']
for a in Students:
    print(a)

Arsalan
usama
hassan
shazad

In [28]:
for a in Students:
    if a == 'shazad':
        print(f'{a} bahar jao')
    else:
        print(f'{a} andar ajao' )

Arsalan andar ajao
usama andar ajao
hassan andar ajao
shazad bahar jao

In [29]:
for b in 'pakistan':
    print(b,end=' ')

p a k i s t a n

In [30]:
for num in range (1,10):
    print(num,end =' ')

1 2 3 4 5 6 7 8 9

In [1]:
c =int(input('enter any number '))
for b in range(1,10):
     print(f'{c} * {b} = {c * b}')

enter any number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [2]:
for num in range (0,25,2):
    print(num,end =' ')

0 2 4 6 8 10 12 14 16 18 20 22 24

In [3]:
for num in range (1,25,2):
    print(num,end =' ')

1 3 5 7 9 11 13 15 17 19 21 23

In [6]:
for num in range (25,0,-1):
    print(num,end =' ')

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [8]:
c =int(input('enter any number '))
for b in range(1,10):
    if b % 3 == 0:
        continue
    else:
            print(f'{c} * {b} = {c * b}')

enter any number 9
9 * 1 = 9
9 * 2 = 18
9 * 4 = 36
9 * 5 = 45
9 * 7 = 63
9 * 8 = 72

In [9]:
c =int(input('enter any number '))
for b in range(1,10):
    if b % 2 == 0:
        break
    else:
            print(f'{c} * {b} = {c * b}')

enter any number 4
4 * 1 = 4

In [ ]:
a=['mag','john']


for a in range(1,10):
    name=" "
    
    
    name=input('enter the name ')
    name.

enter the name h
enter the name h

In [3]:
b=['mag','john']
for x in range(1,10):
    #name=" " 
    name=input('enter the name: ')
    if name.startswith('a'):
        b.append(name)
b

enter the name: ali
enter the name: ahmad
enter the name: kok
enter the name: ljsd
enter the name: hip
enter the name: pok
enter the name: kok
enter the name: asad
enter the name: mad

['mag', 'john', 'ali', 'ahmad', 'asad']

# Nested for Loop

In [5]:
for a in [1,2,3,4,5]:
    for b in 'Arsalan':
        print(a,b)

1 A
1 r
1 s
1 a
1 l
1 a
1 n
2 A
2 r
2 s
2 a
2 l
2 a
2 n
3 A
3 r
3 s
3 a
3 l
3 a
3 n
4 A
4 r
4 s
4 a
4 l
4 a
4 n
5 A
5 r
5 s
5 a
5 l
5 a
5 n

In [ ]:
# c =int(input('enter any number '))
for b in range(1,10):
    c =int(input('enter any number '))
    for x in range(1,11):
     print(f'{c} * {x} = {c * x}')

enter any number 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
enter any number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
enter any number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
enter any number 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
enter any number 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0
enter any number 20
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

# List Comprehension

In [1]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[num **2 for num in range(1,10) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
x=[num **2 for num in range(1,10) if num >4]

In [10]:
x

[25, 36, 49, 64, 81]