# function`

In [1]:
def greet_user():
    print("apna time ayga")
    
    
greet_user()

apna time ayga

# function`

In [15]:
def multi(a,b):
    c=a*b
    print(c)

multi(2,4)

In [16]:
multi(2,3)

6

In [19]:
def div(x,y):
    z=x//y
    print(z)

In [20]:
div(20,4)

5

In [21]:
def sub(e,r):
    d=e-r
    print(d)

In [22]:
sub(6,8)

-2

In [10]:
def first_name(f,m,l):
    a=f+''+m+''+l
    print(f+' '+m+' '+l)

In [11]:
first_name("Muhammad","Arsalan","A.Majeed")

Muhammad Arsalan A.Majeed

In [16]:
a=input('f ')
b=input('m ')
c=input('l ')
first_name(a,b,c)

f a
m s
l d
a s d

In [69]:
def calculator(a,b,c):
    if(c == '+'):
        d=a+b
        print(d)
    elif(c=='-'):
        d=a-b
        print(d)
    elif(c=='*'):
        d=a*b
        print(d)
    elif(c=='//'): 
        d=a//b
        print(d)
    else:
        d="operator not define"
        print(d)

In [32]:
calculator(4,2,'*')

8

4.0

In [50]:
calculator(20,5,'//')

4

In [72]:
calculator(12,2,'%')

operator not define

# default parameter

In [5]:
def my_info(name,age=15,gender='male'):
    print(f"my name is {name}.")
    print(f"my age is {age}.")
    print(f"my gender is {gender}.")

In [3]:
    my_info('Arsalan','14','male')

my name is Arsalan.
my age is 14.
my gender is male.

In [8]:
my_info('Arsalan','33','male')

my name is Arsalan.
my age is 33.
my gender is male.

In [9]:
def my_name_is(f_name ,l_name ,m_name=' '):
    if m_name:
        full_name=f_name + ' ' + m_name + ' ' + l_name
    else:
        full_name =f_name + ' ' + l_name
    return full_name

a=my_name_is('Muhammad','Arsalan','A.Majeed')
print(a)

Muhammad A.Majeed Arsalan

In [10]:
b=my_name_is('kane','williumson')
print(b)

kane   williumson

In [13]:
def friends(name):
    for name in names:
        greet ='Hello,' + name
        print(greet)
user=['ali','Ahmed','Akbar','Hamza','Ahsan']
friends(user)

NameError: name 'names' is not defined