# Dictionariesionary
    dictionary words on key value per

In [13]:
my_dictionary ={}

In [14]:
type(my_dictionary)

dict

In [15]:
my_dictionary ={'name':"arsalan"}

In [18]:
my_dictionary

{'name': 'arsalan'}

Dictionaries

In [2]:
my_dictionary ={}

In [3]:
type(my_dictionary)

dict

In [4]:
len(my_dictionary)

0

In [20]:
my_dictionary={'name':'M.Arsalan'}
#                key : value

In [6]:
my_dictionary['name']

'M.Arsalan'

In [15]:
my_dictionary['age']=23

In [16]:
my_dictionary

{'age': 23}

In [17]:
my_dictionary

{'age': 23}

In [19]:
my_dictionary['name']

KeyError: 'name'

In [21]:
my_dictionary={'name':'M.Arsalan'}

In [22]:
my_dictionary['name']

'M.Arsalan'

In [23]:
my_dictionary['age']=22

In [24]:
my_dictionary

{'name': 'M.Arsalan', 'age': 22}

In [25]:
del my_dictionary['age']

In [26]:
my_dictionary

{'name': 'M.Arsalan'}

In [27]:
my_dictionary[100]="hello Pakistan"

In [28]:
my_dictionary

{'name': 'M.Arsalan', 100: 'hello Pakistan'}

In [29]:
my_dictionary={'name':'M.Arsalan',"age":22,'degree':"BSCS"}

In [30]:
#keys()
#values()
#item()

In [32]:
for k in my_dictionary.keys():
    print(k)

name
age
degree

In [34]:
for k in my_dictionary.values():
    print(k)

M.Arsalan
22
BSCS

In [37]:
for k,v in my_dictionary.items():
    print(k,v)

name M.Arsalan
age 22
degree BSCS

In [48]:
for k in my_dictionary.keys():
        if  my_dictionary[k]

SyntaxError: invalid syntax (<ipython-input-48-c16703355ef7>, line 2)

In [49]:
100 in [1,2,3,5,6,100,9]

True

In [50]:
100 in [1,2,3,5,6,10,9]

False

In [51]:
'name' in my_dictionary

True

In [75]:
a=[1,3,4,56,7,8]
b=[22,33,44,55,66,77]
c=[5,3,4,9,8,7,a,b]
c

[5, 3, 4, 9, 8, 7, [1, 3, 4, 56, 7, 8], [22, 33, 44, 55, 66, 77]]

In [86]:
del c[7][2]
c

[5, 3, 4, 9, 8, 7, [1, 3, 56, 7, 8], [22, 33, 66, 77]]

In [87]:
a=[1,3,4,56,7,8]
b=[22,33,44,55,66,77]
c=[5,3,4,9,8,7,a,b]
c

[5, 3, 4, 9, 8, 7, [1, 3, 4, 56, 7, 8], [22, 33, 44, 55, 66, 77]]

In [88]:
del c[6]

In [89]:
c

[5, 3, 4, 9, 8, 7, [22, 33, 44, 55, 66, 77]]

In [90]:
alist=[11,22,33,44,my_dictionary]
alist

[11, 22, 33, 44, {'name': 'M.Arsalan', 'age': 22, 'degree': 'BSCS'}]

In [93]:
alist[4]['degree']

'BSCS'

In [94]:
adict={'name':'pakistan','age':my_dictionary}
adict

{'name': 'pakistan', 'age': {'name': 'M.Arsalan', 'age': 22, 'degree': 'BSCS'}}

In [98]:
adict['age']['degree']

'BSCS'

In [99]:
a=[]
a.append({"name":"M.Arsalan"})
a

[{'name': 'M.Arsalan'}]

In [100]:
a.append(a.pop())

In [103]:
a

[{'name': 'M.Arsalan'}]

In [105]:
newlist=[1,3,4,5,6]

In [110]:
poppedElement=newlist.pop()

In [113]:
newlist

[1, 3, 4, 5]

In [114]:
newlist

[1, 3, 4, 5]